<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>News Domain</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
      
      <link rel="stylesheet" href="./basics.css">
  </head>
  <body>
    <h1 class="text-center bg-light m-0"><a style = "color:black; text-decoration: none;" href = "/">News Domain</a></h3>

    <nav class="navbar navbar-expand-lg bg-body-tertiary nav nav-fill">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav nav-fill" id="navbarTogglerDemo01">
      <ul class="navbar-nav font-weight-bold me-auto mb-2 mb-lg-0 nav-fill">
        <li class="nav-item on-hover-naver on-hover-naver">
          <a class="nav-link" aria-current="page" href="/">India</a>
        </li>
       
        <li class="nav-item on-hover-naver">
          <a class="nav-link" aria-current="page" href="/business">Business</a>
        </li>
        <li class="nav-item on-hover-naver">
          <a class="nav-link" aria-current="page" href="/sports">Sports</a>
        </li>
        <li class="nav-item on-hover-naver">
          <a class="nav-link" aria-current="page" href="/technology">Technology</a>
        </li>
        <li class="nav-item on-hover-naver">
          <a class="nav-link" aria-current="page" href="/entertainment">Entertainment</a>
        </li>
        <li class="nav-item on-hover-naver">
          <a class="nav-link" aria-current="page" href="/health">Health</a>
        </li>
        <li class="nav-item on-hover-naver">
          <a class="nav-link" aria-current="page" href="/science">Science</a>
        </li>
        <li class="nav-item on-hover-naver">
          <a class="nav-link" aria-current="page" href="/newsletter/">NewsLetter</a>
        </li>
      </ul>

      <form method = "POST">
        {% csrf_token %}
        <select name="country" id="country">
          <option value="in" selected>India</option>
          <option value="us">USA</option>
          <option value="ca">Canada</option>
        </select>
        <button class="btn btn-primary submit">
          Submit
        </button>
      </form>
      <form class="d-flex" role="search" action="" autocomplete="off">
        <input class="form-control me-2" type="search" id="q" name = "q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>





    <div class="row">

      <div class="container row justify-content-center p-3">

        {% block hello %} 
        {% endblock hello %}
      </div>

   
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </body>
</html>
