{% extends "base.html" %}
{% block hello %}

<div class="container text-center">
    <h5>Subscribe to Our Newletter for latest news</h5>

</div>
<div class="container p-5">
  <form method="post" action="/newsletter/">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="name"
        class="form-control"
        id="name"
        name="name"
        placeholder="Yash"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        placeholder="abc@gmail.com"
      />
   
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>
{% endblock hello %}